@font-face {
  font-family: "myFontBold";
  src: url(assests/fonts/SFPRODISPLAYBOLD.OTF);
}
@font-face {
  font-family: "myFontMedium";
  src: url(assests/fonts/SFPRODISPLAYMEDIUM.OTF);
}
@font-face {
  font-family: "myFontRegular";
  src: url(assests/fonts/SFPRODISPLAYREGULAR.OTF);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* <!-- >>>>>> Sign Up Page <<<<<< --> */

.signup-container {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  background-color: #f0f2f5;
  /* display: none; */
}
.signup-box {
  display: flex;
  width: 80%;
  margin: 10% auto;
  justify-content: space-around;
}

.signup-left {
  width: 50%;
  height: 400px;
  font-size: 2em;
  font-family: "myFontRegular";
  color: #1c1e21;
}

.signup-left > h1 {
  margin-top: 15%;
  font-family: "myFontBold";
  color: #1877f2;
}

.signup-right {
  padding: 10px;
  font-family: "myFontRegular";
  width: 50%;
  text-align: center;
}
.signup-right > div {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}
.signup-right input {
  width: 100%;
  height: 50px;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dddfe2;
  font-size: 1.2em;
}
.signup-right input:focus {
  box-shadow: 1px 1px 5px #3b89f0;
  outline-color: #1877f2;
}

.signup-right p {
  color: #1877f2;
  margin-bottom: 25px;
}
.signup-btn-blue {
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 332px;
  color: #fff;
  font-weight: 600;
  margin: 25px auto;
  cursor: pointer;
}
.signup-btn-green {
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  background-color: #42b72a;
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
  cursor: pointer;
}
hr {
  margin-bottom: 25px;
}

/* <!-- >>>>>> Timeline <<<<<< --> */

.post-container {
  width: 100%;
  background-color: #f0f2f5;
  height: 619px;
  position: fixed;
}

.post-box {
  width: 450px;
  height: 400px;
  background-color: #fff;
  margin: 7% auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
}
.post-box > span {
  font-family: "myFontBold";
  font-size: 1.2em;
}
.hr {
  width: 100%;
  background-color: #dddfe2;
  height: 1px;
  margin: 10px 0;
}
#userPicture{
  width: 30px;
  height: 30px;
}