@font-face {
  font-family: "myFontBold";
  src: url(assests/fonts/SFPRODISPLAYBOLD.OTF);
}
@font-face {
  font-family: "myFontMedium";
  src: url(assests/fonts/SFPRODISPLAYMEDIUM.OTF);
}
@font-face {
  font-family: "myFontRegular";
  src: url(assests/fonts/SFPRODISPLAYREGULAR.OTF);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "myFontRegular";
}

/* <!-- >>>>>> User Form Page <<<<<< --> */

.formContainer {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 40px;
  border: 1px solid orange;
  align-items: center;
  row-gap: 10px;
  background-color: #fff;
}

.formContainer > input,
button {
  width: 60%;
  height: 2.5em;
  border-radius: 5px;
  outline: none;
  border: 1px solid #f0f2f5;
  font-size: 1.3em;
  padding: 10px;
}

/* <!-- >>>>>> Sign Up Page <<<<<< --> */

.flex {
  display: flex;
}

.signup-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #f0f2f5;
  /* display: none; */
}
.signup-box {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: end;
}

.signup-left {
  width: 50%;
  height: 400px;
  font-size: 2em;
  font-family: "myFontRegular";
  color: #1c1e21;
}

.signup-left > h1 {
  font-family: "myFontBold";
  color: #1877f2;
}

#userImage {
  width: 120px;
  height: 120px;
  margin-bottom: 15px;
  background-color: transparent;
  border-radius: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.btn-img {
  background-color: #cad1e2;
  padding: 5px 10px;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
}
.center {
  height: 35px;
}
#files {
  visibility: hidden;
}

.signup-right {
  padding: 10px;
  font-family: "myFontRegular";
  width: 50%;
  text-align: center;
  position: relative;
}
.signup-right > div {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}
.signup-right input {
  width: 100%;
  height: 50px;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dddfe2;
  font-size: 1.2em;
  outline-color: #1877f2;
  transition: 0.4s ease;
}
.signup-right input:focus {
  box-shadow: 1px 1px 10px #3b89f0;
  outline-color: #1877f2;
}

.signup-right p {
  color: #1877f2;
  margin-bottom: 25px;
}
.signup-btn-blue {
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 90%;
  color: #fff;
  font-weight: 600;
  margin: 25px auto;
  cursor: pointer;
}
.signup-btn-green {
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  background-color: #42b72a;
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
  cursor: pointer;
}
hr {
  margin-bottom: 25px;
}

/* <!-- >>>>>> Timeline <<<<<< --> */

.post-container {
  width: 100%;
  background-color: #f0f2f5;
  min-height: 100vh;
  position: absolute;
  background-image: url(assests/images/fb-bg.png);
  background-size: contain;
  display: none;
}
.post-box {
  width: 500px;
  height: 400px;
  background-color: #fff;
  margin: 7% auto 3%;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
}
.post-box > span {
  font-family: "myFontBold";
  font-size: 1.2em;
}
.hr {
  width: 100%;
  background-color: #dddfe2;
  height: 1px;
  margin: 10px 0;
}
#userPicture {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 50px;
}
.friends {
  font-size: 14px;
  font-family: "myFontRegular";
  border-radius: 5px;
  padding: 2px;
  background-color: #e4e6eb;
  position: absolute;
  align-items: center;
}
.friends img {
  width: 12px;
  height: 12px;
  justify-content: center;
  margin: 0 5px;
}
#changedName {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 5px;
}
.flex > div {
  text-align: left;
}
#display {
  width: 100%;
  border: none;
  outline: none;
  font-size: 22px;
  margin: 10px 0;
  height: 150px;
  padding: 0 10px 50px 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  white-space: normal;
}
.bgPicture {
  position: relative;
  top: 2%;
}
.bgPicture > img {
  width: 40px;
  height: 40px;
  margin: 0 2.5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.bgPicture > img:hover {
  transform: scale(1.3);
}
.btn-post {
  position: relative;
  top: 5%;
  width: 100%;
  padding: 10px;
  border: none;
  font-weight: 600;
  color: #bfc3c7;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

#postUpdate {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
#postUpdate > div {
  width: 500px;
  height: 400px;
  padding: 40px 15px 15px;
  color: #000;
  background-color: #fff;
  text-align: center;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  font-size: 2.5em;
  overflow: hidden;
}
.swal2-confirm {
  background-color: #1877f2 !important;
  color: #fff !important;
  border: none !important;
}
